<html>
<body bgcolor='pink'>
<h2>Show</h2>
<br/>
<br/>
<p>name:<%=@new.name%></p><br/>
<p>age:<%=@new.age%></p><br/>
<p><%=link_to'back',:controller=>'student',:action=>'view'%></p>
</body>
</html>
